<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a3ffec">  <td>18/12/29 15:18:01</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:testcases.TC001_CreateLead@617faa95]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1740189450</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>18/12/29 15:18:02</td>   <td>835</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_CreateLead.setData()[pri:0, instance:testcases.TC001_CreateLead@617faa95]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1740189450</td>   <td></td> </tr>
<tr bgcolor="a3ffec">  <td>18/12/29 15:18:02</td>   <td>856</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:testcases.TC001_CreateLead@617faa95]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1740189450</td>   <td></td> </tr>
<tr bgcolor="a3ffec">  <td>18/12/29 15:18:03</td>   <td>1539</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:testcases.TC001_CreateLead@617faa95]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1740189450</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>18/12/29 15:18:08</td>   <td>6715</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_CreateLead.login(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC001_CreateLead@617faa95]">login</td> 
  <td>main@1740189450</td>   <td></td> </tr>
<tr bgcolor="a3ffec">  <td>18/12/29 15:18:21</td>   <td>20059</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterMethod()[pri:0, instance:testcases.TC001_CreateLead@617faa95]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1740189450</td>   <td></td> </tr>
<tr bgcolor="a3ffec">  <td>18/12/29 15:18:22</td>   <td>20878</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:testcases.TC001_CreateLead@617faa95]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1740189450</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>18/12/29 15:18:27</td>   <td>25202</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_CreateLead.login(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC001_CreateLead@617faa95]">login</td> 
  <td>main@1740189450</td>   <td></td> </tr>
<tr bgcolor="a3ffec">  <td>18/12/29 15:18:39</td>   <td>37333</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterMethod()[pri:0, instance:testcases.TC001_CreateLead@617faa95]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1740189450</td>   <td></td> </tr>
<tr bgcolor="a3ffec">  <td>18/12/29 15:18:40</td>   <td>38174</td> <td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterTest()[pri:0, instance:testcases.TC001_CreateLead@617faa95]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1740189450</td>   <td></td> </tr>
<tr bgcolor="a3ffec">  <td>18/12/29 15:18:40</td>   <td>38234</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:testcases.TC001_CreateLead@617faa95]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1740189450</td>   <td></td> </tr>
</table>
